{% extends "management/layout.html" %}

{% block body %}
    <h2>Property</h2>

    {%  if unit.photo  %}
        <img src="{{  unit.photo  }}" width="20%" height="20%">
    {%  endif  %}

    <ul>
        <li>Lease: ${{  unit.lease  }}</li>
        <li>Squarefeet: {{  unit.sqft  }}sqft</li>
        <li>Number of bed(s): {{  unit.bed  }}</li>
        <li>Number of bath(s): {{  unit.bath  }}</li>
        <li>Location: {{  unit.location  }}</li>
        <li>People living in this property:
            <ul id="people">
                {%  for person in people  %}
                    <li>{{  person.email  }}</li>
                {%  endfor  %}
            </ul>
        </li>
    </ul>

    <button class="btn btn-primary" id="add_tenant" data-unit="{{  unit.id  }}" href="#">Add a tenant</button> <br>

{% endblock %}